@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
}

body {
    background-color: #fbf9f8;
    color: #1b1c1c;
}

.editorial-gradient {
    background: linear-gradient(135deg, #3e0007 0%, #620814 100%);
}

.glass-header {
    background: rgba(251, 249, 248, 0.8);
    backdrop-filter: blur(20px);
}
